@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hỗ trợ không gian 3D lật thẻ bài */
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

/* Tối ưu trải nghiệm màn hình cảm ứng điện thoại */
html, body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  background-color: #0B0914;
  color: #F3F4F6;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

/* Thanh cuộn phong cách tối */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0914;
}
::-webkit-scrollbar-thumb {
  background: #282347;
  border-radius: 9999px;
}
